spring:
  application:
    name: load-rest

server:
  port: 8082

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8081/eureka/
  instance:
    hostname: localhost

